<div class="card h-100">
  <div class="card-header bg-primary text-white">
    Customer Registration Page
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3 row">
        <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
            [value] = "CustomerInfo.Name"
            #CustomerName
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="password"
            placeholder="Enter your Password"
            [value]="CustomerInfo.Password"
            #CustomerPassword
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
            [value]="CustomerInfo.Email"
            #CustomerEmail
          />
        </div>
      </div>
      <!-- <div class="mb-3 row">
        <label for="message" class="col-sm-3 col-form-label">Message</label>
        <div class="col-sm-9">
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <input type="button" value="Post" (click)="evtPostData()" class="btn btn-primary btn-block"> |
          <input type="button" value="Clear" (click)="evtClearData()" class="btn btn-danger btn-block">
        </div>
      </div>
    </form>
  </div>
</div>
