<div class="container">
  <div class="row mt-4">
    <h3>Customer Page</h3>
    <div class="row mt-4">
      <span class="text-info col-2">
        Customer Name :
        <span class="text-monospace fs-5"> {{ Customer.Name }}</span>
      </span>
      <span class="text-info col-3">
        Customer Password :
        <span class="text-monospace fs-5"> {{ Customer.Password }}</span>
      </span>
      <span class="text-info col-3">
        Customer Email :
        <span class="text-monospace fs-5"> {{ Customer.Email }}</span>
      </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-5">
      <app-customer-registration
        [CustomerInfo]="Customer"
        (CustomerEventEmitter)="evtCustomerReceiveInfo($event)"
      >
        <textarea
          class="form-control"
          id="message"
          rows="4"
          placeholder="Enter your personal details"
        ></textarea>
      </app-customer-registration>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <app-customer-details
        [CustomerRecord]="CustomerLatestRecord"
      ></app-customer-details>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div>
      <app-customers-registration-history [CustomerRecord]="CustomerLatestRecord"></app-customers-registration-history>
    </div>
  </div>
</div>
