<!--Main Page-->
<div class="container" style="margin-bottom: 50em;">
  <!--Main page Heading section-->
  <div class="row m-2">
    <h6 class="display-6">Customer Page</h6>
    <div class="row mt-4 p-3 bg-dark text-light">
      <div class="col-5">
        <div class="row">
          <div class="col-9">
            <span class=""> Customer Name : </span>
            <!-- <span class="text-monospace fs-5"> {{ Customer.Name }}</span> -->
            <input type="text" class="form-control" [value]="Customer.Name" #customerName />
          </div>
          <div class="col-2 mt-4">
            <input
              type="button"
              class="btn btn-primary"
              value="Click"
              (click)="updateCustomerName()"
            />
          </div>
        </div>
      </div>
      <div class="col-2">
        <span class="col-3">
          Customer Password :
          <span class="text-monospace fs-5"> {{ Customer.Password }}</span>
        </span>
      </div>
      <div class="col-2">
        <span class="col-3">
          Customer Email :
          <span class="text-monospace fs-5"> {{ Customer.Email }}</span>
        </span>
      </div>
    </div>
  </div>

  <!--Customer Registration page and Customer Registration Latest Record-->
  <div class="row mt-5">
    <!--Customer Registration page-->
    <div class="col-md-5">
      <app-customer-registration
        [CustomerInfo]="Customer"
        (CustomerEventEmitter)="evtCustomerReceiveInfo($event)"
      >
        <textarea
          class="form-control"
          id="message"
          rows="4"
          placeholder="Enter your personal details"
          #CustomerMessage
        ></textarea>
      </app-customer-registration>
    </div>

    <div class="col-1"></div>

    <!--Customer Registration Latest Record-->
    <div class="col-md-5">
      <app-customer-details
        [CustomerRecord]="CustomerLatestRecord"
      ></app-customer-details>
    </div>
  </div>

  <!--Customer Registration History-->
  <div class="row justify-content-center mt-5">
    <div>
      <app-customers-registration-history
        [CustomerRecord]="CustomerLatestRecord"
      ></app-customers-registration-history>
    </div>
  </div>
</div>
