<div class="card h-100">
  <div class="card-header bg-success text-white">
    <div class="row">
      <div class="col-8 mt-1">
        <span class="text-right">Customers Registration History</span>
      </div>
      <div class="col-2"></div>
      <div class="col-1 text-right">
        <input
          class="btn btn-info text-white"
          type="button"
          value="Get All Records"
          (click)="evtGetLatestRecords()"
        />
      </div>
      <!-- -->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <!-- here we are capturing the index of the element while looping......-->
        <tr *ngFor="let record of CustomerRecords; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ record.Name }}</td>
          <td>{{ record.Email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
